Client/RestAndSoapWSLabClient/WindowFormAppClient/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8732/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8732/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8732/Service1/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_getStationsInfos_InputMessage">
    <wsdl:part name="parameters" element="tns:getStationsInfos" />
  </wsdl:message>
  <wsdl:message name="IService1_getStationsInfos_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStationsInfosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getStationsNames_InputMessage">
    <wsdl:part name="parameters" element="tns:getStationsNames" />
  </wsdl:message>
  <wsdl:message name="IService1_getStationsNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStationsNamesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetContractsNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContractsNames" />
  </wsdl:message>
  <wsdl:message name="IService1_GetContractsNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContractsNamesResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="getStationsInfos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getStationsInfos" message="tns:IService1_getStationsInfos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getStationsInfosResponse" message="tns:IService1_getStationsInfos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getStationsNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getStationsNames" message="tns:IService1_getStationsNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getStationsNamesResponse" message="tns:IService1_getStationsNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContractsNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetContractsNames" message="tns:IService1_GetContractsNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetContractsNamesResponse" message="tns:IService1_GetContractsNames_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getStationsInfos">
      <soap:operation soapAction="http://tempuri.org/IService1/getStationsInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStationsNames">
      <soap:operation soapAction="http://tempuri.org/IService1/getStationsNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractsNames">
      <soap:operation soapAction="http://tempuri.org/IService1/GetContractsNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8732/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>