ClientMonitoring/RestAndSoapWSLabClientMonitoring/RestAndSoapWSLabClientMonitoring/Connected Services/ServiceReferenceMonitoring/Monitoring1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getNumberOfJCDecauxRequests">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getNumberOfJCDecauxRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getNumberOfJCDecauxRequestsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNumberOfRequests">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getNumberOfRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getNumberOfRequestsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNumberOfDataInCache">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getNumberOfDataInCacheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getNumberOfDataInCacheResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAverageResponseTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAverageResponseTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAverageResponseTimeResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>