ClientConsole/RestAndSoapWSLabClientConsole/RestAndSoapWSLabClientConsole/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8732/Service1?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RestAndSoapWSLab" />
  <xs:import schemaLocation="http://localhost:8732/Service1?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="getStationsInfos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contractName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stationName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStationsInfosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RestAndSoapWSLab" minOccurs="0" name="getStationsInfosResult" nillable="true" type="q1:CompositeStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStationsNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contractName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stationName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStationsNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getStationsNamesResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getContractsNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getContractsNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getContractsNamesResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllContracts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllContractsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RestAndSoapWSLab" minOccurs="0" name="getAllContractsResult" nillable="true" type="q4:ArrayOfCompositeContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCacheTimeOutMinutes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCacheTimeOutMinutesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getCacheTimeOutMinutesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setCacheTimeOutMinutes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newValueMinutes" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setCacheTimeOutMinutesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>